<h1><%= @post.title %></h1>

<h2>Categories</h2>
<ul>
   <% @post.categories.each do |category| %>
      <li><%= category.name %></li>
   <% end %>

</ul>
<h4>Content of Post: </h4>
<p><%= @post.content%></p>

   <h2>Comments</h2>
<% if @users_array.first #is there a post in the array? %>
   <% @users_array.each do |user| %>
      <p><%= link_to  "#{user.username}", user_path(user) %> <%= " says: " %>
         <% user.comments.each do |user_comment| %>
            <%= user_comment.content %>
         <% end %>
      </p>
   <% end %>
<% end %>
   <%= form_for @comment do |f|%>
      <%= f.hidden_field :post_id %>
      <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: "Create New"} %><br> 
      
      <%= f.fields_for :user, @comment.build_user do |u| %>
         <%= u.label :username, "New Username: " %>
         <%= u.text_field :username %><br>
      <% end %>

      <%= f.label :content, "Content: " %>
      <%= f.text_field :content %><br>
      <%= f.submit "Create Comment" %>
   <% end %>

   
