<h1><%= @post.title %></h1>

<h2>Categories</h2>
<ul>
   <% @post.categories.each do |category| %>
      <li><%= category.name %></li>
   <% end %>

</ul>

   <h2>Comments</h2>

   <% @post.comments.each do |comment| %>
      <%= "#{comment.user.username} says: #{comment.content}" unless comment.user.nil? %> 
   <% end %>

   <%= form_for @comment do |f|%>
      <%= f.hidden_field :post_id %>
      <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: "Create New"} %><br> 
      
      <%= fields_for :user, @comment.build_user do |u| %>
         <%= u.label :username, "New Username: " %>
         <%= u.text_field :username %><br>
      <% end %>

      <%= f.label :content, "Content: " %>
      <%= f.text_field :content %><br>
      <%= f.submit "Create Comment" %>
   <% end %>

   
